<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.neatorobotics.sdk.android">
    <application>
        <provider
                android:name=".NeatoSDKInitProvider"
                android:authorities="${applicationId}.InitProvider" />
    </application>
</manifest>
